body {
  background-color: black;
}
.pawesome {
  text-align: center;
  color: white;
}
.whisker {
  text-align: center;
  color: white;
}

img {
  border: 25px solid green;
  display: block;
  margin: 0 auto;
  margin-top: 80px;
}
